/* Global settings borrowed from dnsmichi/dashing-icinga2. */

/* unset even and odd line colors. */
tr.evenline {}
tr.oddline {}

tr.rowhighlight {background-color:#f0f8ff;margin:0;border:0;padding:0;spacing:0;}

/* Status Colours */

tr.statusnew td {
 background-color: rgba(255, 85, 102, 0.1)
}

tr.statusopen td {
 background-color: rgba(255, 170, 68, 0.1)
}

tr.statusstalled td {
 background-color: rgba(170, 68, 255, 0.1)
}

tr.statusresolved td {
 background-color: rgba(68, 187, 119, 0.1)
}

tr.statusrejected td {
 background-color: rgba(153, 153, 153, 0.1)
}

.statusnew, .statusopen, .statusstalled, .statusrejected, .statusresolved {
 text-align: left;
}
.statusnew, .statusopen, .statusstalled, .statusrejected, .statusresolved a, a:visited {
 text-align: left;
}
